Django<3
#Django>=2.2,<3.0
coverage
django-dbconn-retry
django-dramatiq
django-redis
django-environ
djangorestframework<3.13
django-treebeard
dramatiq
django-compression-middleware
Envelopes
gunicorn
jsonpath-rw-ext
otpauth==1.0.1
Pillow
prometheus-client
psycopg2-binary>=2.9.0
# psycopg2-binary==2.8.6
#psycopg2==2.8.6
python-magic
pytz
qrcode
raven
redis==5
requests
six
sqlparse
XlsxWriter
jinja2
pdfkit
bs4
openpyxl
#user-management
#vnc-session-client
celery[redis]
django-celery-results
django-celery-beat
